*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: black;
    
}
.container{
    max-width: 90rem;
    margin: 2rem;
    padding: 0px 2rem;
}
.header{
    padding: 2rem;
    margin: 1rem 0px;
    text-align: center;

}
header.title{
    margin-bottom: 1rem;


}
.tribute{
    display: grid;
    grid-template-columns: 3fr 1fr;
    max-width: 78rem;
    margin: 0px auto;
    background-color: white;
    color: black;
    align-items: center;
    padding: 0px 0px 0px 3rem;

}
.tribute blockquote{
    text-align: center;
    font-size: 2rem;

}
.projct blockquote{
    text-align: center;
    font-size: 2rem;

}
.legacy blockquote{
    text-align: center;
    font-size: 2rem;

}
.tribute img{
    max-width: 100%;
    
}
.bio{
    margin: 2rem auto;
    padding: 0px 0.5rem;
    max-width: 40rem;
}
.trinity>h2{
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.2;
}

.bio>hr{
    margin-top: 2rem;
}
.projct{
    display: grid;
    grid-template-columns: 3fr 1fr;
    max-width: 78rem;
    margin: 0px auto;
    background-color: rgba(156, 155, 155, 0.962);
    color: black;
    align-items: center;
    padding: 0px 0px 0px 3rem;

}
.legacy{
    display: grid;
    grid-template-columns: 3fr 1fr;
    max-width: 78rem;
    margin: 0px auto;
    background-color: rgb(226, 138, 66);
    color: black;
    align-items: center;
    padding: 0px 0px 0px 3rem;

}
.trinity{
    color: orange;
}


